/* the chat css code */

@font-face {
  font-family: 'nayupixelregular';
  src: url('fonts/nayupixel-webfont.eot');
  src: url('fonts/nayupixel-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/nayupixel-webfont.woff') format('woff'),
  url('fonts/nayupixel-webfont.ttf') format('truetype'),
  url('fonts/nayupixel-webfont.svg#nayupixelregular') format('svg');
  font-weight: normal;
  font-style: normal;

}


#chatback{ 
  position:absolute;
  z-index:665;
  left:65%;
  top:8%;
  opacity:0.37;
  background-color:#000000;
  width:480px;
  height:500px;
}

#chat{ 
  position:absolute;
  z-index:666;
  left:65%;
  top:8%;
  width:480px;
  height:500px;
}

#chat-table{ 
  color:#00ff00;
  width:480px;
  height:500px;
}


#chat-head  {
  font-family:'nayupixelregular','arial narrow';
  font-size:18px;
  padding:10px;
}

#chat-subtable{ 
  padding:10px;
  height:420px;
  width: 100%;
  table-layout: fixed;
  display: none;
  border-bottom:#00ff00 dashed 1px;
}

#chat-subtable td { 
  vertical-align: top;
 }


#chatlog {
  font-family:'nayupixelregular','arial narrow';
  font-size:12px;
  display: none;
  height: 100%;
  overflow: auto;
  border-right:1px dashed #00ff00;
}


#user-table{ 
  width:120px;
}

#userlist {
  font-family:'nayupixelregular','arial narrow';
  font-size:16px;
  height: 100%;
  width: 100%;
  display: none;
  float:right;
  overflow: auto;
  padding-left:10px;
}

#entry{ 
  background-color:black;
  width:410px;
  color:#00ff00;
  display: none;
  height:20px;
  font-size:12px;
  font-family:'nayupixelregular','arial narrow';
  margin-top:10px;
  margin-left: 10px;
  border:1px solid #00ff00;
  padding-left:10px;
  padding-top:4px;
}

#loginout { 
  margin-left:10px;
  height:20px;
  border:1px solid #00ff00;
  height:20px;
  width:120px;
  font-size:18px;
  font-family:'nayupixelregular','arial narrow';
  background-color:transparent;
  color:#00ff00;

}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}