/* the chat css code */




#chatback{ 
  position:absolute;
  z-index:665;
  left:65%;
  top:8%;
  opacity:0.37;
  background-color:#000000;
  width:480px;
  height:500px;
}

#chat{ 
  position:relative;
  z-index:666;
  top:00px;
  left:100px;
  height:100px;
  -webkit-transition:all 1sec;
  -moz-transition:all 1sec;
  transition:all 1sec;
}

#chat.active{
	height:auto;
	//height:300px;
	width:400px;
} 


#chat-table{ 
  color:#00ff00;
  width:100%;
  height:100%;

  }


#chat-head  {
  font-family:'nayupixelregular','arial narrow';
  font-size:18px;
  padding:10px;
}

#chat-subtable{ 
  padding:10px;
  height:420px;
  width: 100%;
  table-layout: fixed;
  display: none;
  border-bottom:#00ff00 dashed 1px;
  margin-bottom:60px;
}

#chat-subtable td { 
  vertical-align: top;
 }



#chatlog {
  font-family:'nayupixelregular','arial narrow';
  font-size:12px;
  display: none;
  height: 100%;
  overflow: auto;
  border-right:1px dashed #00ff00;
}


#user-table{ 
  width:120px;
}

#userlist {
  font-family:'nayupixelregular','arial narrow';
  font-size:16px;
  height: 100%;
  width: 100%;
  display: none;
  float:right;
  overflow: auto;
  padding-left:10px;
}

#entry{ 
  margin-bottom:20px;
  background-color:black;
  width:260px;
  color:#00ff00;
  display: none;
  height:20px;
  font-size:12px;
  font-family:'nayupixelregular','arial narrow';
  margin-top:10px;
  margin-left: 10px;
  border:1px solid #00ff00;
  padding-left:10px;
  padding-top:4px;
	position:absolute;
	bottom:0px;
 }

#loginout { 
  margin-left:10px;
  height:20px;
  border:1px solid #00ff00;
  height:20px;
  width:120px;
  font-size:18px;
  font-family:'nayupixelregular','arial narrow';
  background-color:transparent;
  color:#00ff00;

}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}