#master-program-schedule {
	width: 100%;
}

#master-program-schedule th {
	width: 12%;
	text-align: center;
}

#master-program-schedule td {
	vertical-align: top;
	font-size: 13px;
	text-align: center;
	padding: 0px;
}

#master-program-schedule td {
	border: 1px solid black;
}

#master-program-schedule td div {
	border-top: 1px solid #dddddd;
}

#master-program-schedule span.show-title,
#master-program-schedule span.show-file,
#master-program-schedule span.show-time,
#master-program-schedule span.show-encore {
	display: block;
}

#master-program-schedule span.show-time {
	font-size: 13px;
}

#master-program-schedule span.show-encore {
	font-size: 10px;
	color: #EE8E66;
}

#master-program-schedule span.show-file {
	margin-bottom: 5px;
	margin-top: 5px;
}

#master-program-schedule span.show-file a {
	width: 95%;
	height: 20px;
	background-color: #931B25;
	padding: 3px;
	text-decoration: none;
	color: #ffffff;
	margin-bottom: 3px;
}

#master-program-schedule span.show-file a:hover {
	background-color: #C51D2E;
	color: #ffffff;
}

#master-genre-list {
	font-size: 16px;
}

#master-genre-list span.heading {
	font-weight: bold;
}

#djSchedule .djSched {
	margin-top:-25px;
}