/* $Id: style.css,v 1.13 2006/04/03 22:20:48 unconed Exp $ */

/*
** HTML elements
*/
body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #000000;
  font: 76% Verdana, Arial, Helvetica, sans-serif;
}

tr.odd td, tr.even td {
  padding: 0.3em; color: #333;
}
div#blocks tr.odd td, tr.even td {
  padding: 0.3em; color: #333;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
}
h1 {
  font-size: 1.3em;
}

h2 {
  font-size: 1.2em;
}
h3, h4, h5, h6 {
  font-size: 1.1em;
}
p {
  margin-top: 0.5em;
  margin-bottom: 0.9em;
}
a {
  text-decoration: none;
  font-weight: bold;
}
a{
  	color:#00ff00;
}
a:hover {
  color: #c7ff1a;
  text-decoration: underline;
}
fieldset {
  border: 1px solid #777;
}
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #fff;
}
table {
  /* make <td> sizes relative to body size! */
  font-size: 1em;
}
.form-item label {
  font-size: 1em;
  color: #ccc;
}
.item-list .title {
  font-size: 1.1em;
  color: #ccc;
}
.links {margin-bottom: 0em;}
.comment .links {
  margin-bottom: 0em;
}
.audiolinks {margin-bottom: 1em; color: #666; }

/*
** Page layout blocks / IDs
*/
#header, #content {
  width: 100%;
}
#header {
  background-color: #000000; background-image: url(/files/spazbanner20120308.jpg); background-repeat: no-repeat;
height: 150px;
}

#logo {
  vertical-align: middle;
  border: 0;
}
#logo img {
  float: left;
  padding: 0em 1.0em 0em 1em;
  border: 0;
}
#menu {
  padding: 0.5em 0.5em 0 0.5em;
  text-align: right;
  vertical-align: middle;
}
#primary {
  XXfont-size: 1.0em;
  XXpadding: 0em 0.8em 0.5em 0;
  XXcolor: #ff3300;
}
#primary a {
  font-weight: bold;
  XXcolor: #ff3300;
}
#secondary {
  padding: 0 1em 0.5em 0;
  font-size: 0.8em;
  color: #ffffff;
}
#secondary a {
  font-weight: bold;
  color: #ffffff;
}
#search .form-text, #search .form-submit {
  border: 1px solid #369;
  font-size: 1.1em;
  height: 1.5em;
  vertical-align: middle;
}
#search .form-text {
  width: 8em;
  padding: 0 0.5em 0 0.5em;
}
#mission {
  background-color: #369;
  padding: 1.5em 2em;
  color: #fff;
}
#mission a, #mission a:visited {
  color: #9cf;
  font-weight: bold;
}
.site-name {
  margin: 0.6em 0em 0em 0em;
  padding: 0em;
  font-size: 2em;
}
.site-name a:link, .site-name a:visited {
  color: #fff;
}
.site-name a:hover {
  color: #dedede;
  text-decoration: none;
}
.site-slogan {
  font-size: 1.5em;
  color: #eee;
  display: block;
  margin: 0em 0em 0em 0em;
  font-style: italic;
  font-weight: bold;
}
#main {
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding-top: 0.75em; padding-left: 0.75em; padding-right: 0.75em; padding-bottom: 0.75em; 
}
#mission, .node .content, .comment .content {
  line-height: 1.4;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.breadcrumb {
  margin-bottom: .5em;
}
.messages {
  background-color: #eee;
  border: 1px solid #777;
  padding: 0.3em;
  margin-bottom: 1em;
}
.error {
  border-color: red;
}
#sidebar-left {
  background-color: #000;
  width: 16em;
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 0px;
  vertical-align: top;
}

#sidebar-right {
  background-color: #000000;
  width: 16em;
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 0px;
  vertical-align: top;
}

#footer { text-align: center;
  background-color: #000;
  padding: 1em;
  font-size: 0.8em;
color: #bbffaf;
}

#footer a {
  font-weight: bold;
  color: #cc3300;
}

/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/
.title, .title a {
  font-weight: bold;
  font-size: 1.1em;
  color: #ffffff;
  margin: 0 auto 0 auto;  /* decrease default margins for h<x>.title */
}

h1.title { font-size: 1.5em; color: #000; margin: 0 0 1.23em 0; }

.submitted {
  color: #666;
  font-size: 0.75em;
}

.links {
  color: #333;
}
.links a {
  font-weight: bold;
}
.block {
  padding: 0 0 1.5em 0;
}
.box { padding: 0 0 1.5em 0; margin: 2em 0 0 0; }
.block {
font-size: 97%;
  border-bottom: 1px dotted #ccc;
padding-left: 0.75em;
padding-right: 0.666em;
padding-top: 0.72em;  
padding-bottom: 0.666em;
}
.block .title {
  margin-bottom: .25em;
}

#block-user-1 { font-size: 100%; }
#block-gallery-0 .title {display:none;}
#block-gallery-2 { border-bottom: none; margin-top: 3em;}
#block-gallery-2 .title {display:none;}
#block-tagadelic-3 { font-size: 87%; border-bottom: none; text-align: center; padding-bottom: 0em; margin-bottom: 0em; }
#block-tagadelic-7 {font-size: 87%; text-align: center; padding-top: 0em; margin-top: 0em;}
#block-tagadelic-3 .title {display:none; }
#block-tagadelic-7 .title {display:none; }

#left .component { margin-bottom: 0.5em; }
#right .component { margin-bottom: 0.5em;}
#component-dashboard1 #top { width: 98%; margin-bottom: 0.5em; color: #2AA046; font-size: 97%; background: #210e00; border: 1px solid #222; padding-left: 0.75em; padding-top: 0.75em; padding-right: 0.75em; text-align: center;}
#component-dashboard1 #top .event-start, #component-dashboard1 #top .event-start label { display: none;}
#component-dashboard1 #top .event-end, #component-dashboard1 #top .event-end label { display:none;}
#component-dashboard1 #top .title a:link, #component-dashboard1 #top .title a:visited { color: #ed651c; text-decoration: none; }
#component-dashboard1 #top .title a:hover { color: #eee; text-decoration: none; }
#component-dashboard1 #top .submitted { display:none;}
#component-dashboard1 #top .submitted a { display:none;}
#component-dashboard1 #top img { border: 1px solid #222; }
#component-event-1 { font-size: 97%; background: #aaa; border: 1px solid #222; padding-left: 0.75em; padding-right: 0.75em; padding-bottom: 0.5em; }
#component-audio-0 { font-size: 97%; background: #666; border: 1px solid #222; padding-left: 0.75em; padding-right: 0.75em; padding-bottom: 0.5em; }
#component-views-5 { font-size: 97%; background: #ce846f; border: 1px solid #222; padding-left: 0.75em; padding-right: 0.75em; padding-bottom: 0.5em; }
#component-views-3 { font-size: 97%; background: #ad8f5b; border: 1px solid #222; padding-left: 0.75em; padding-right: 0.75em; padding-bottom: 0.5em; }
#component-views-12 { font-size: 97%; background: #232323; border: 1px solid #222; padding-left: 0.75em; padding-right: 0.75em; padding-bottom: 0.5em; }
#component-views-2 .node { font-size: 97%; background: #00ffc0; border: 1px solid #ed651c; padding: 1em; margin: 0 0 0.5em 0; color:#000;}
#component-block-10 {padding-bottom:1em;}
#component-block-10 a:link, #component-block-10 a:visited {color:#ff4500;}

.view {margin: 0.666em 0 0.666em 0; }

.box .title {
  font-size: 1em;
}
.node {
  margin: 0.5em 0 2em 0;
}
.sticky {
  padding: .5em;
  background-color: #eee;
  border: solid 1px #fff;
}
.node .content, .comment .content {margin: 0.5em 0 0.5em 0;}

.audionode { background: #666; border: 1px solid #222; margin: 0.666em 0 0.666em 0; padding: 0.5em; }
.audionode .content { margin: 0.5em 0 0.5em 0; color: #000; }
.dashboardnode { margin: 0 0 0.5em 0; }

.node .taxonomy {
  color: #555;
  font-size: 0.8em;
  padding: 1.5em;
}

.taxonomy a:link { color: #d3be61;}
.node .picture {
  border: 1px solid #fff;
  float: right;
  margin: 0.5em;
}

div.gcBorder2 { background: #b8cf5a; border: 1px solid #fff; padding: 1em; }

.comment {
  border: none;
background: #a2b745;
  padding: 1em;
  margin-bottom: 0.5em;
}

div.comment {margin-top:1.5em;background: #a2b745; padding: 1em;
display: block;
}


.comment .title a {
  font-size: 1.1em;
  font-weight: normal;
}
.comment .new {
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
  color: red;
}
.comment .picture {
  border: none;
  float: right;
  margin: 0.5em;
}

/*
** Module specific styles
*/
#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #777;
  padding: 1em;
  margin: 1em 0 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  color: #555;
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1.1em;
}
#aggregator h3 {
  margin-top: 1em;
}
#forum table {
  width: 100%;
}
#forum td {
  padding: 0.5em 0.5em 0.5em 0.5em;
}
#forum td.forum, #forum td.posts {
  background-color: #80af4c;
}
#forum td.topics, #forum td.last-reply {
  background-color: #80af4c;
}
#forum td.container {
  background-color: #80af4c;
}
#forum td.container a {
  color: #000;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #80af4c;
}
#forum td .name {
  color: #80af4c;
}
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}
#profile .profile {
  clear: both;
  border: 1px solid #abc;
  padding: .5em;
  margin: 1em 0em 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
.calendar a {
  text-decoration: none;
}
.calendar td, .calendar th {
  padding: 0.4em 0;
  border-color: #555;
}
.calendar .day-today {
  background-color: #69c;
}
.calendar .day-today a {
  color: #fff;
}
.calendar .day-selected {
  background-color: #369;
  color: #fff;
}
.calendar .header-week {
  background-color: #777;
}
.calendar .day-blank {
  background-color: #777;
}
.calendar .row-week td a:hover {
  background-color: #fff; color: #000;
}

/* Flatforum structure */
.forum-comment {
  float: left;
  width: 95%;
}

.comment-left {
  width: 18%;
  float: left;
  font-size: 11px;
  padding: 5px;
}

.comment-right {
  float: right;
  width: 78%;
}

.comment-left .author-name {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 15px;
}

.comment .comment-left .picture {
  float: none;
  border: none;
  margin-bottom: 15px;
}

.comment-right .title {
  font-weight: bold;
  font-size: 1.2em;
  margin: 5px 15px;
}

.comment-right .subject { font-size: 97%; font-weight: bold;}
.comment-right { padding-top: 0.75em;}
.comment-right .content { padding: 0.5em;}

.comment-right .content .links {
  float: right;
}

/* Flatforum style */
.comment-right {
  border: solid 1px #ccc;
background-color: #a7bf47;
}

div.comment-even {
  background: #85af41; margin-top: 0.15em;
}

div.comment-odd {
  background: #85af41; margin-top: 0.15em;
}

.comment-top {font-size: 87%; padding-bottom: 0.666em;}
div.ical-link img { display:none; }

div.component h2 { color: #fff;}