body { 
  padding:0px;
  margin:0px;
  border:0px;
}

.back { 
  position:absolute;
  z-index:10;
  left:0px;
  top:0px;
  width:100%;

   height:50%;
  overflow:hidden; 
 }

 
.back img { 
  width: 100%;
}

.dirt { 
  position:absolute;
  z-index:13;
  left:0px;
  top:50%;
  height:50%;

  overflow:hidden;
  width:100%;
}

.dirt img { 
  width: 100%;
}


.masks { 
  position:absolute;
  z-index:20;
  left:0px;
  top:19%;
  width:100%;
}

.masks img { 
  width: 100%;
}


.logo { 
  position:absolute;
  z-index:40;
  left:34%;
  top:23%;

}

.logo img { 
  width: 400px;
  height: 400px;
}


.side-A { 
  position:absolute;
  z-index:39;
  left:-40px;
  top:69%;

}

.side-A img { 
  height: 320px;
}


.side-B { 
  position:absolute;
  z-index:38;
  left:20%;
  top:62%;
}


.side-B img { 
  height: 180px;
}


.side-C {
  position:absolute;
  z-index:37;
  left:33%;
  top:58%;
}


.side-C img { 
  height: 90px;
}


#player { 
  position:absolute;
  z-index:440;
  left:48%;
  top:70%;
  background:#000000;
}