@font-face {
  font-family: 'nayupixelregular';
  src: url('fonts/nayupixel-webfont.eot');
  src: url('fonts/nayupixel-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/nayupixel-webfont.woff') format('woff'),
  url('fonts/nayupixel-webfont.ttf') format('truetype'),
  url('fonts/nayupixel-webfont.svg#nayupixelregular') format('svg');
  font-weight: normal;
  font-style: normal;

}


	body{
			font-family: 'nayupixelregular','arial narrow'!important;
			font-size: 14px;
			color:#00ff00;
			text-shadow: 0px 0px 14px rgba(255, 0, 0, 1);
		}
		
		h1{
			font-size:32px;
			padding:0px;
			margin-bottom:5px;
		}
		
		h2{
			font-size:22px;
			padding:0px;
			margin:5px;
	
		}
		
		h3{
			font-size:18px;
			padding:0px;
			margin:5px;
	
		}
		
		h4{
			font-size:14px;
			padding:0px;
			margin:0px;
		}
	
	
		.button{
			cursor:pointer;
		}
		
		.button:hover{
			color:red;
		}
		
		.yellow{
			color:#c7ff1a;
		}
		
		.buttonSimple {
			position:absolute;
			top:8px;
			right:24px;
			background-color: black;
			height: 25px;
			width: 25px;
			line-height: 25px;
			border-radius: 15px;
			display: inline-block;
			color: red;
			text-align: center;
			font-size: 25px;
			font-weight: bold;
			z-index:1000;
			font-family:arial black;
		}	
		
		.buttonSimple:hover {
			color:white;
		}