
body{
	font-family: 'courier';
	background-color:gray;
	overflow:hidden;
	background: rgb(191,191,191); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgba(191,191,191,1) 0%, rgba(191,191,191,1) 23%, rgba(127,127,127,1) 99%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(191,191,191,1)), color-stop(23%,rgba(191,191,191,1)), color-stop(99%,rgba(127,127,127,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, rgba(191,191,191,1) 0%,rgba(191,191,191,1) 23%,rgba(127,127,127,1) 99%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, rgba(191,191,191,1) 0%,rgba(191,191,191,1) 23%,rgba(127,127,127,1) 99%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, rgba(191,191,191,1) 0%,rgba(191,191,191,1) 23%,rgba(127,127,127,1) 99%); /* IE10+ */
background: radial-gradient(ellipse at center, rgba(191,191,191,1) 0%,rgba(191,191,191,1) 23%,rgba(127,127,127,1) 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfbfbf', endColorstr='#7f7f7f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 }


@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
	-webkit-transform: rotate(20000deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to { 
	-moz-transform: rotate(20000deg);
  }
}


@-webkit-keyframes rotateReverse {    // slower
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
	-webkit-transform: rotate(-360deg);
  }
}


@-moz-keyframes rotateReverse {    // slower
  from {
    -moz-transform: rotate(0deg);
  }
  to { 
	-moz-transform: rotate(-360deg);
  }
}

@-webkit-keyframes lazy {
  from {
    -webkit-transform: rotate(0deg);
	//-webkit-transform: scale(5,5);
	
  }
  to { 
	-webkit-transform: rotate(200deg);
	//-webkit-transform: scale(1.5,1.5);
	
  }
}


@-moz-keyframes lazy {
  from {
    -moz-transform: rotate(0deg);
	//-moz-transform: scale(5,5);
	
  }
  to { 
	-moz-transform: rotate(200deg);
	//-moz-transform: scale(1.5,1.5);
	
  }
}




	#bg{

		-webkit-animation-name:             rotateReverse; 
		-webkit-animation-duration:         50s; 
		-webkit-animation-iteration-count:  infinite;
		-webkit-transition-animation-function: linear;

		-moz-animation-name:             rotateReverse; 
		-moz-animation-duration:         50s; 
		-moz-animation-iteration-count:  infinite;
		-moz-transition-animation-function: linear;

		width:300%;
		height:300%;
		top:-75%;
		left:-75%;
		position:fixed;
		z-index:1;
		
		display:none;
	}

	 
	/* #chatWin{
		position:fixed;
		right:40px;
		height:80%;
		width:260px;
		top:10%;
		border:100px;
		z-index:21;
		-webkit-transform: rotate(3deg);
		moz-transform: rotate(3deg);
		transform: rotate(3deg);
	} */
	
	#chatBG{
		position:fixed;
		right:-40px;
		height:100%;
		width:430px;
		z-index:20;
		-webkit-transform: rotate(3deg);
		-moz-transform: rotate(3deg);
		transform: rotate(3deg);
	}
	
	#usersOnline{
		background:url('images/usersScreen.png');
		background-size:100% 100%;
		z-index:9;
		background-position:center; 
		padding:20px;
		padding-left:40px; 
		width:130px;		
	}
	
	#player{
		position:fixed;
		right:400px;
		bottom:354px;
		width:350px;
		-webkit-transform: rotate(-10deg);
		-moz-transform: rotate(-10deg);
		transform: rotate(-10deg);
		z-index:15;
	}	
	
	#jp_container_1{
		position:absolute;
		z-index:20;
	}
	
	#playPause{
		position:relative;
		z-index:15;
		top:240px;
		left:125px;
	}
	
	.jp-volume-bar{
		font-size: 8pt;
		font-family: arial;
		font-weight: bold;
		color: white;
		background-color: rgb(58, 167, 58);
		cursor: pointer;
		-webkit-transform: rotate(-16deg);
		-moz-transform: rotate(-16deg);
		transform: rotate(-16deg);
		top: 47px;
		left: 193px;
		position: absolute;
		width: 130px;
	}
	
	.jp-volume-bar-value{
		background-color:lime;		
	}
	
	#muteHolder{
		position: absolute;
		top: 64px;
		left: 184px;
		font-family: arial;
		font-weight: bold;
		-webkit-transform: rotate(-14deg);
		-moz-transform: rotate(-14deg);
		transform: rotate(-14deg);
		cursor: pointer;
	}
	
	#playerBG{
		z-index:10;
		position:absolute;
		top:-81px;
	}
	
	#playerInfo {
		-webkit-transform: rotate(4deg);
		-moz-transform: rotate(4deg);
		transform: rotate(4deg);
		position: relative;
		font-fmaily:arial;
		//z-index: 16;
		width: 125%;
		//bottom: 159px;
		left: -45px;
		height: 90px;
		top:-8px;
	}	
	
	#playerInfoCurrent{
		font-family:arial;
		position: absolute;
		z-index: 21;
		top: 95px;
		-webkit-transform: rotate(-12deg);
		-moz-transform: rotate(-12deg);
		transform: rotate(-12deg);
		color: lime;
		font-size: 10pt;
		font-weight: bold;
		width:180px;
		left: 165px;
	}
	
	/* ------  logos and spinners  ------ */

	.logoIm {
		display:none;
		z-index:10;
		position:absolute;
		top:0px;		
		width:100%;
	
		-webkit-animation-name:             rotate; 
		-webkit-animation-duration:         .1s; 
		-webkit-animation-iteration-count:  infinite;
		-webkit-transition-timg-function: linear;
		
		-moz-animation-name:             rotate; 
		-moz-animation-duration:         .1s; 
		-moz-animation-iteration-count:  infinite;
		-moz-transition-timg-function: linear;
		
	}
		
	#logoImageLoader{
		-webkit-animation-name:             rotateReverse; 
		-webkit-animation-duration:         50s; 
		-webkit-animation-iteration-count:  infinite;
		-webkit-transition-animation-function: linear;

		position:fixed;
		z-index:4;
		margin:auto;
		width:50%;
		border:2px solid red;
		left:-200px;
		top:-400px;
	}

	#groundImageLoader{
		position:fixed;
		top:-00%;
		left:-50%;
		width:200%;
		height:200%;
		z-index:3;
	}
	
	.groundIm{
		width:100%;
		position:absolute;
		display:none;
		width:3000px;
		height:3000px;
		top:-50%;
	
		-webkit-animation-name:             lazy; 
		-webkit-animation-duration:         5s; 
		-webkit-animation-iteration-count:  infinite;
		-webkit-transition-animation-function: linear;

		-moz-animation-name:             lazy; 
		-moz-animation-duration:         5s; 
		-moz-animation-iteration-count:  infinite;
		-moz-transition-animation-function: linear;

	}

	
	/* ------ Media Query ------ */
	
	
@media (max-width: 600px) {
	
	body{
		overflow-y:auto;
		overflow-x:hidden;
		background:url('images/clouds.jpg');
		background-size:100% 100%;
		
	}
	
	#visuals{
		width:100%;
		font-size:18pt;
		text-align:center;
		bottom:-2px;
	}

	#chatWin{
		position:relative;
		margin: 0 auto;
		right:0px;
		padding:30px;
		height:100%;
		width:65%;
		top:50px;
		bottom:0px;
		border:none;
		z-index:21;
		-webkit-transform: none;
		moz-transform: none;
		transform: none;
		background-color:transparent;
	}

	#external, .radiohide {
		display:none;
	}

	#radionav {
		position:absolute;
		bottom: -110%;
	}
	
	#player{
		position:relative;
		right:auto;
		bottom:auto;
		top:0;
		width:100%;
    max-width: 335px;
		padding-bottom: 100%;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
		z-index:15;
    margin: -50px auto;
	}	
	
	#playerBG{
		z-index:10;
		/*position:relative;*/
		top:auto;
		width:110%;		
	}
	
	#jp_container_1{
		position:absolute;
		z-index:20;
		width:100%;
	}
	
	#playPause{
		position: absolute;
		z-index: 15;
		padding-top: 68%;
		left: 25%;
		width: 100%;
		top:auto;
	}
	
	.jp-volume-bar{
		/* something setting display:block via js */;
		display:none;
		top: -100px;
	}
	.jp-volume-bar-value{
		display:none;	
	}
	
	#muteHolder{
		display:none;
	}

	
	#playerInfo {
		display:none;
		-webkit-transform: rotate(-18deg);
		-moz-transform: rotate(-18deg);
		transform: rotate(-18deg);
		position: fixed;
		z-index: 16;
		width: 231px;
		bottom: 159px;
		right: 374px;
		height: 60px;
	}	
	
	#playerInfoCurrent{
		position: absolute;
		z-index: 21;
		top: 122px;
		-webkit-transform: rotate(-13deg);
		-moz-transform: rotate(-10deg);
		transform: rotate(-10deg);
		color: lime;
		font-size: 14px;
		font-weight: bold;
		left: 106px;
		right: 30%;
	}
	
	/* ------  logos and spinners  ------ */

	
	
	.logoIm {
		display:none!important;
		-webkit-animation-name:            ''; 
		-moz-animation-name:             ''; 
				
	}
		
	#logoImageLoader{
		-webkit-animation-name:    ''; 
		-moz-animation-name:       ''; 
		display:none!important;
	}

	#groundImageLoader{
		position:auto!important;
		display:none;
	}
	
	.groundIm{
		display:none;	
		-webkit-animation-name:             ''; 
		-moz-animation-name:             ''; 
	}






}



#upcoming a { text-decoration: none; }
#upcoming a:link {color: #3CC40A;} 
#upcoming a:active {color: #3CC40A;} 
#upcoming a:visited {color: #3CC40A;}
#upcoming a:hover {color: #095369;} 