/* transplanted from index.php */

body {
  margin: 0;
}

@font-face {
  font-family: 'nayupixelregular';
  src: url('../css/fonts/nayupixel-webfont.eot');
  src: url('../css/fonts/nayupixel-webfont.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/nayupixel-webfont.woff') format('woff'),
  url('../css/fonts/nayupixel-webfont.ttf') format('truetype'),
  url('../css/fonts/nayupixel-webfont.svg#nayupixelregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

#radionav {
  position:fixed;
  height: auto;
  width: 180px;
  bottom:0;
  left:0;  
  margin: auto;  
  padding:0;  
  background-color:black;
  text-align: center;
  transform: translateX(-180px);
  transition: all 0.5s ease-in-out;
  z-index:125;
}
#radionav.visible {
  box-shadow: 3px -3px 5px rgba(240,0,250,0.5);
  transform: translateX(0);
}

.toggle-icon {
  cursor: pointer;
  position: absolute;
  margin: auto;
  width: 40px;
  height: 40px;
  transition: all 0.5s linear;
}

#navtoggle {
  background-color: black;
  top: 0;
  bottom: 0;
  right: -38px;
  line-height: 40px;
  text-align: center;
}

#videotoggle {
  background-color: fuchsia;
  border-radius: 50px;
  bottom: 40px;
  right: -40px;
}

#videotoggle > img {
  height: 16px;
  margin-top: 12px;
}

#qrtoggle {
  bottom: 0;
  right: -40px;
}

#qrtoggle > img {
  max-width: 40px;
}

.visible .toggle-icon {
  transform: rotate(180deg);
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  line-height: 43px;
  padding-left: 0;
  margin: 0;
}

nav li {
  cursor: pointer;
  float: left;
  margin: 0 .8em;
}

nav a {
  color:#C7FF1A;
  text-decoration:none;
}

#uploadnav {
  color:#C7FF1A;
}

.yellow {
  color: #C7FF1A;
}

.red {
  color: red;
}

label.uploadLabel input[type="file"] {
    position: fixed;
    top: -1000px;
}

/* dj schedule stuff */

.overlay{
  position:fixed;
  display:none;
  z-index:100001;
  left:5%;
  top:8%;
  bottom:8%;
  right:5%;
}

.BGGlass{
  -moz-border-radius: 52px;
  -webkit-border-radius: 52px;
  border-radius: 52px;
  box-shadow: inset 0px 0px 100px 14px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px 0px 100px 14px rgba(0, 0, 0, 1);
  -webkit-box-shadow: inset 0px 0px 100px 14px rgba(0, 0, 0, 1);
  position:absolute;
  top:-5%;
  width:100%;
  height:110%;
  opacity:.8;
  background-color:black;
}

.overlay .BGGlass{
  background:url('') #333;
  opacity:.9;
}

.overlay .content {
    position: relative;
    width: 91%;
    height: 100%;
    left: 0px;
    padding: 10px;
    overflow-y: auto;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

div.content.djSched {
  font-family: 'nayupixelregular','arial narrow' !important;
  font-size: 13px;
  color: #00ff00;
  text-shadow: 0px 0px 14px rgba(255, 0, 0, 1);
}

#master-program-schedule {
    color: chartreuse;
}

#master-program-schedule a {
  color:chartreuse;
  text-decoration:none;
}

table {
    font-size: 1em;
}

.entry-header {
  text-align:center;
}

#djSchedule .djSched {
    margin-top: -65px;
}

.buttonSimple {
  cursor:pointer;
    position: absolute;
    top: 8px;
    right: 24px;
    background-color: black;
    height: 25px;
    width: 25px;
    line-height: 25px;
    border-radius: 15px;
    display: inline-block;
    color: red;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    z-index: 1000;
    font-family: arial black;
}

#chatWrap {
  background-image: url("images/chatScreen.png");
  background-size: 100% 103%;
  background-position: left top;
  background-repeat: no-repeat;
  position: fixed;
  right: -30px;
  height: 664px;
  width: 430px;
  top: 0px;
  z-index: 20;
  transform: rotate(3deg);
  max-height: 664px;
  box-sizing: border-box;
  max-width: 430px;
  padding: 60px 40px 0px 90px;
}

#chatWin {
  max-width: 295px;
  width: 90%;
  height: 80%;
}

#usersOnline {
  top: 10px;
  left: -140px;
}



/* QR CODE STUFF */

#qr-wrap {
  color:  black;
  font-weight: bold;
  position: absolute;
  /* top: 0; */
  bottom: 20px;
  left: 130px;
  /* right: 0; */
  z-index: 100;
  /* display: inline-block; */
  width: 160px;
  height: auto;
  margin: auto;
  background-color: rgba(0,255,0,0.6);
  border: 1px solid black;
  box-shadow: 0 5px 5px rgba(66,66,66,0.6);
  padding: 22px;
  text-align: center;
  /* -webkit-animation: gottipped 2s infinite;
  animation: gottipped 2s infinite; */
}

@-webkit-keyframes gottipped {
  0% {
    background-color: red;
  }
  20% {
    background-color: orange;
  }
  40% {
    background-color: chartreuse;
  }
  60% {
    background-color: blue;
  }
  80% {
    background-color: indigo;
  }
  100% {
    background-color: fuchsia;
  }
}

@keyframes gottipped {
  0% {
    background-color: red;
  }
  20% {
    background-color: orange;
  }
  40% {
    background-color: chartreuse;
  }
  60% {
    background-color: blue;
  }
  80% {
    background-color: indigo;
  }
  100% {
    background-color: fuchsia;
  }
}

#qr-wrap.hidden {
  display: none;
}

#qr-wrap > p {
  margin: 0 0 20px;
}

#qr-close {
  color: black;
  cursor:  pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
}

#qrcode, #qrcode > img {
  display: inline !important;
  width:  160px;
}

#got-tipped {
  color: black;
  display: none;
  -webkit-animation: tipblink .618s infinite;
  animation: tipblink .618s infinite;
}

@-webkit-keyframes tipblink {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes tipblink {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#chatBody {
  position: initial;
  height: 100%;
}

#chat {
  bottom: 70px;
}

@media all and (max-width:600px) {
  #radionav {
    bottom: 0;
    position: fixed;
  }
  #navtoggle {
    top: unset;
    bottom: 80px;
  }
  nav ul {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }   

  #qr-wrap {
    left: 0;
    right: 0;
    bottom: unset;
  }
  #chatWrap {
    position: absolute;
    left: -50px;
    height: 115vh;
    width: 130%;
    transform:none;
    top:290px;
    padding: 0px 60px 0px 60px;
    margin-left: auto;
    margin-right: auto;
  }
  #chatster {
    padding-top: 20px;
  }
  #chatWin {
    padding-top: 0;
    padding-left: 25px;
  }
  #chat {
    bottom: 0px;
  }
  #usersOnline {
    position: absolute;
    top: -45px;
    left: 30px;
  }
  #chatBody {
    height: 90%;
  }
}

body.visuals-only .visuals-only-hidden,
body.video-streaming .webcam-mode-hidden {
  display: none !important;
}

/* video stream */

#video-toaster {
  background-color: black;
  margin: 0;
  width: 300px;
  position: absolute;
  top: 0;
  left: -300px;
  overflow: hidden;
}

#cam-feed {
  background-color: transparent;
  position:fixed;
  z-index:4;
  max-width: 100vw;
  max-height: 100vh;
}

#tribute-photo {
  position: fixed;
  top: 0;
  z-index: 9;
  max-width: 100%;
  height: 100vh;
  opacity: 0.6;
}

/* keep chat when video streaming & make sure it doesn't block full screen */
.video-streaming #chatWrap {
  display: block !important;
  height: 634px !important; 
}

/* align video to L so chat covers less */
.video-js .vjs-tech {
  width: unset !important;
}

/* blackout */
/*#bg {
  display: none;
}
#groundImageLoader {
  background-color: black;
}*/