
#chatster{
  font-size:10pt;
  color:lime;
  font-family:courier;
  height:100%;
}

span.handle{
  font-weight:bold;
  color: lime;
}

span.message{
  color:black;
}

#chatBody{
  position:absolute;
  top:0px;
  bottom:20px;
  right:0px;
  left:0px;
  overflow-x:hidden;
  overflow-y:scroll;
}

input{
  width:100%;
}

form{
  margin:2px;
}

#usersOnline{ 
  position:fixed;
  top:-60px;
  right: 270px;
  width:170px;
}

#chatBody{ 
  margin-bottom:50px;
}

#chat{ position:fixed;
  bottom:0px;
  left:auto;
  border:1px solid lime;
}

#chatName { 
  margin-bottom:0px;
}

.hidden{ display:none }

@media (max-width: 600px) {

  #usersOnline {
    position: relative;
    right: 0;
    top: -80px;
  }

  #chatBody {
    top: 60px;
  }

  #chat {
    position:absolute;
  }

}